.navbar{
  font-family: Arial Black;
  background-color: 	#84C1FF;
}

.navbar .collapse li a{
  padding: 14px 16px;
}


.navbar .collapse li a:hover{
  background-color: #46A3FF;
}

.big-pic{
  position: relative;
}

.big-pic .background img{
  opacity: 0.6;
  width: 100%;
}

.button {
  position: absolute;
  font-family: Microsoft YaHei;
  display: inline-block;
  top: 50%;
  left: 40%;
  padding: 60px 100px;
  font-size: 60px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px #000000;
  outline: none;
  color: #fff;
  background-color: #46A3FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #0080FF;}

.button:active {
  background-color: #0066CC	;
  box-shadow: 0 5px #3C3C3C	;
  transform: translateY(4px);
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:240px) {
  .button {
    top: 30%;
    left: 30%;
    padding: 30px 50px;
    font-size: 30px;
  }
}
@media screen and (min-width:420px) {
  .button {
    top: 30%;
    left: 30%;
    padding: 30px 50px;
    font-size: 30px;
  }
}
@media screen and (min-width:768px) {
  .button {
    top: 30%;
    left: 20%;
    padding: 30px 50px;
    font-size: 40px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
  .button {
    top: 40%;
    left: 30%;
    padding: 45px 75px;
    font-size: 50px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
  .button {
    top: 50%;
    left: 40%;
    padding: 60px 100px;
    font-size: 60px;
  }
}
